$small: 700px;

.unit-detail-container {
  @media screen and (min-width: $small) {
    width: 70%;
    padding-left: 15%;
    padding-top: 40px;
  }
  .unit-text {
    font-weight: bolder;
    font-size: 35px;
    color: #484848;
    padding-bottom: 20px;
  }
  .table-head {
    background-color: #383838;
    color: #fff;
  }
  .table-row {
    text-decoration: none;
    background-color: #b1b1b1;
  }
}
